PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
VEHICLE_SERVICE_URL=http://localhost:4002
TRAFFIC_SERVICE_URL=http://localhost:4003
INCIDENT_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
